<div class="col s12 ">
    <h5 class="header">Shabibiy</h5>
    <div class="card horizontal">
      <div class="card-image">
          <img src="assets/img/bus.JPG">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
            <a routerLink="book">Book a ticket</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 ">
      <h5 class="header">Shabibiy</h5>
      <div class="card horizontal">
        <div class="card-image">
            <img src="assets/img/bus.JPG">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
          </div>
          <div class="card-action">
              <a routerLink="book">Book a ticket</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 ">
        <h5 class="header">Shabibiy</h5>
        <div class="card horizontal">
          <div class="card-image">
              <img src="assets/img/bus.JPG">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
                <a routerLink="book">Book a ticket</a>
            </div>
          </div>
        </div>
      </div>

 
