
<div class="row">
  <div class="col s12  offset-s1">
    <div class="card  grey lighten-3">
      <div class="card-content valign center">
        <span class="card-title">Register Bus</span>
   <form class=""  >
      <div class="row">
         <div class="input-field col s6">
            <input class="validate" type="text" name="phone" >
            <label data-error="Invalid phone number!">Phone Number</label>
        </div>
        <div class="input-field col s6">
            <input type="email" name="Email" >
          <label>Email</label>
       </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <input type="text" name="BusName" >
              <label> Name of The Bus</label>
           </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input class="validate" type="text" name="DriverName"  required>
          <label data-error="Required field!">Driver name</label>
        </div>

          <div class="input-field col s6">
              <input class="validate" type="text" name="licence" >
              <label data-error="Invalid licence number!">Licence number</label>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
              <input class="validate" type="text" name="numberOfSeats"  required>
              <label data-error="Required field!">Number of seats</label>
            </div>

              <div class="input-field col s6">
                  <input type="text" class="datepicker">
                  <label data-error="Invalid email!">Date</label>
              </div>
         </div>
      <div class="row">
        <div class="input-field col s6">
            <input class="validate" type="text" name="Initial" required>
            <label >Initial</label>
        </div>
        <div class="input-field col s6">
             <input class="validate" type="text" name="Destination" required >
             <label >Destination</label>
         </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
        
            <label >Bus type</label>
        </div>
        <div class="input-field col s4">
             <input class="validate" type="text" name="Destination" required >
             <label >Departure time</label>
         </div>
         <div class="input-field col s4">
              <input class="validate" type="text" name="Destination" required >
              <label >Bus Fare</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <button class="btn-large btn-submit" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>

</div>
</div>
</div>
