<app-navbar></app-navbar>

  <div class="container">
      <div class="row">
        <div class="col s12">
           <div class="col s3">
              Lorem ipsum dolor sit amet consectetur adipisicing 
              elit. Vitae molestiae quae ea expedita laudantium sed, impedit, iste praesentium est aut reprehenderit? 
              Temporibus alias nostrum molestias aut voluptas similique? Rem, ipsum!
            </div>
          <div class="col s9">
            <h5 class="header">Available buses</h5>
             <app-buslist></app-buslist>
          </div>
        </div>
    </div>
  </div>
        